<!-- Layers Menu Begin  -->
<nav class="side-menu bg-dark py-0">
    <div class="controls-submenu" style="display: none;">
        <div class="d-flex col-12 p-1 justify-content-evenly">
            <button class="btn btn-outline-info rounded-0 map-controls col-5 finishDrawing" type="button">Set on map</button>
            <button class="btn btn-outline-danger rounded-0 map-controls col-5 cancelCoordsCapture" type="button">Cancel</button>
        </div>
    </div>
    
    <ul class="d-flex p-2 m-0 justify-content-end flex-grow-1">
        <li class="d-flex align-content-center mx-2">
            <a class="nav-link text-white fs-4 d-flex border-end border-light border-1 text-decoration-none " href="#" onclick="setActive(this)">
                <div class="svg car-svg me-2"></div>
                <p class="me-2 my-0 fs-6 align-content-center">Car</p>
            </a>
        </li>
        <li class="nav-item align-content-center mx-2">
            <a class="nav-link text-white fs-4 d-flex border-end border-light border-1 text-decoration-none " href="#" onclick="setActive(this)">
                <div class="svg truck-svg me-2"></div>
                <p class="me-2 my-0 fs-6 align-content-center">Truck</p>
            </a>
        </li>
        <li class="nav-item align-content-center mx-2">
            <a class="nav-link text-white fs-4 d-flex border-end border-light border-1 text-decoration-none " href="#" onclick="setActive(this)">
                <div class="svg train-svg me-2"></div>
                <p class="me-2 my-0 fs-6 align-content-center">Train</p>
            </a>
        </li>
        <li class="nav-item align-content-center mx-2">
            <a class="nav-link text-white fs-4 d-flex border-end border-light border-1 text-decoration-none " href="#" onclick="setActive(this)">
                <div class="svg ship-svg me-2"></div>
                <p class="me-2 my-0 fs-6 align-content-center">Ship</p>
            </a>
        </li>
        <li class="nav-item align-content-center mx-2">
            <a class="nav-link text-white fs-4 d-flex border-end border-light border-1 text-decoration-none " href="#" onclick="setActive(this)">
                <div class="svg airplane-svg me-2"></div>
                <p class="me-2 my-0 fs-6 align-content-center">Airplane</p>
            </a>
        </li>
    </ul>
  </div>
</nav>
<!-- Layers Menu End -->